services:
  db:
    container_name: postgres-e-commerce
    image: postgres:latest
    environment:
      POSTGRES_USER: maksluczak
      POSTGRES_PASSWORD: S3cret
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "6432:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge
volumes:
  db: